html, body {
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
}

@media screen and (orientation: landscape) {
	body {
		/* disable landscape orientation */
		width: 100vh;
		height: 100vw;
		transform-origin: 0 0;
		transform: rotate(90deg) translateY(-100%);
	}
}

#content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 50px;
	overflow: hidden;
	background: #666666;
}

h1 {
	font: bold 36px Georgia, serif;
	color: #FFFFFF;
	margin: 20px 10px 10px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
}

#info {
	font: 16px helvetica, sans-serif;
	line-height: 1.3em;
	color: #FFFFFF;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
}

nav {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
}
