html, body {
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: 100%;
}

body {
	overflow: hidden;
}

#holder1 {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

body.orient-270 #holder2 {
	/* disable landscape orientation */
	width: 100vh;
	height: 100vw;
	transform-origin: 0 0;
	transform: rotate(90deg) translateY(-100%);
}

body.orient-90 #holder2 {
	width: 100vh;
	height: 100vw;
	transform-origin: 0 0;
	transform: rotate(-90deg) translateX(-100%);
}

body.nonrotating #holder2 {
}

@media screen and (min-width: 600px) and (min-height: 600px) {
	#holder2 {
		width: 400px !important;
		height: 600px !important;
		margin-left: -200px;
		margin-top: -300px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: none !important;
		overflow: hidden;
		border-radius: 2px;
		box-shadow: 0 0 0 5px #000000, 0 10px 50px 10px rgba(0, 0, 0, 0.5);
	}
}

#content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 50px;
	overflow: hidden;
	background: #666666;
}

h1 {
	display: block;
	position: absolute;
	top: 20px;
	left: 10px;
	right: 10px;
	text-align: center;
	font: bold 36px Georgia, serif;
	color: #FFFFFF;
	margin: 0;
	padding: 0;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
	z-index: 1;
}

#info {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
	text-align: center;
	font: 16px helvetica, sans-serif;
	line-height: 1.3em;
	color: #FFFFFF;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
	z-index: 1;
}

#content > div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

nav {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
}
