html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#tabs {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
	background: #000000;
}

#content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 50px;
}
