.modal-shade {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 10;
	animation: fade-in 0.3s ease-out;

	/* force hardware rendering to avoid glitches in Safari */
	-webkit-transform: translate3d(0, 0, 0);
}

.modal {
	position: absolute;
	top: 30px;
	left: 30px;
	right: 30px;
	bottom: 30px;
	border-radius: 20px;
	overflow: hidden;
	background: #FFFFFF;
	z-index: 11;
	animation: slide-in 0.3s ease-out;

	/* force hardware rendering to avoid glitches in Safari */
	-webkit-transform: translate3d(0, 0, 0);
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes slide-in {
	0% {
		transform: translate(0, 100%);
	}
	100% {
		transform: none;
	}
}
