ul.tabbar {
	margin: 0;
	padding: 0;
	box-shadow: inset 0 1px #000000, inset 0 2px #444444;
	background: linear-gradient(to bottom, #2E2E2E, #151515 50%, #000000 50%);
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	height: 50px;
	user-select: none;
}

ul.tabbar li {
	margin: 0;
	padding: 0;
	display: inline-block;
	position: relative;
	width: 20%;
	height: 100%;
	text-align: center;
}

ul.tabbar li a {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	text-decoration: none;
}

ul.tabbar .highlight {
	position: absolute;
	top: 3px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	border-radius: 2px;
}

ul.tabbar li.selected .highlight {
	background: rgba(255, 255, 255, 0.15);
}

ul.tabbar .icon {
	display: inline-block;
	margin: 1px 0;
	width: 30px;
	height: 30px;
	filter: drop-shadow(0 -1px 0 rgba(0, 0, 0, 0.3));

	/* force hardware rendering to avoid glitches in Safari */
	-webkit-transform: translate3d(0, 0, 0);
}

ul.tabbar .icon div {
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, #AAAAAA, #555555);
	mask-size: contain;
	-webkit-mask-size: contain;
}

ul.tabbar li.selected .icon {
	filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.5));

	/* force hardware rendering to avoid glitches in Safari */
	-webkit-transform: translate3d(0, 0, 0);
}

ul.tabbar li.selected .icon div {
	background: radial-gradient(
		circle at 35px 75px,
		#49CBF8 60%,
		#3181DA 75%,
		#77ABE6 75%,
		#DBE7F8
	);
}

ul.tabbar .label {
	display: block;
	color: #999999;
	font: 10px helvetica, sans-serif;
}

ul.tabbar li.selected .label {
	color: #FFFFFF;
}
